/* Vitória Karoline de Carvalho Bernardo */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.form-container label {
    font-size: 18px;
    color: #333;
}

#fileInput {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: border-color 0.3s;
}

#fileInput:hover {
    border-color: #2980b9;
}

#preview {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#preview img {
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, border-color 0.3s;
}

#preview img:hover {
    transform: scale(1.1);
    border-color: #2980b9;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}
