/* Vitória Karoline de Carvalho Bernardo */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.faq-container {
    width: 80%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.faq-item {
    margin-bottom: 10px;
}

.faq-question {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.faq-question:hover {
    background-color: #0056b3;
}

.faq-answer {
    padding: 10px;
    font-size: 16px;
    display: none;
    border-left: 3px solid #007bff;
    background-color: #f9f9f9;
    margin-top: 5px;
    border-radius: 5px;
}
